@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
 // Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$txtactivo: #a66249;
$precio: #016647;
$alerta: #AC3A13;
$cardceleste: #e3f2fd;
$cardnaranja: #ffecb3 ;
$cardmarron: #efebe9;
$custom-colors: (
  "colornav": #735145,
  "coloractivo": $txtactivo,
  "precio": #016647,
  "alerta": #AC3A13,
  "cardceleste": #e3f2fd,
  "cardmarron": #efebe9,
  "cardnaranja": #ffecb3,
);
$theme-colors: map-merge($theme-colors, $custom-colors);


nav {
    a.navbar-brand{ 
        font-family: 'Sansita Swashed', cursive;
    }
}
body {
    background-color: #FFE9E7;
    h1 {
        font-family: 'Sansita Swashed', cursive;
}
}
footer {
    p {
        font-family: 'Sansita Swashed', cursive;
    }
    img {
        border-image-repeat: round;
    }
}
.animate__animated.animate__fadeIn {
    
    --animate-duration: 2s;
  }
div.container-fluid.uno{
    background-color: #FFE9E7;
}

div {
    small {
        font-size: 20px;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";
